---

import type { GetStaticPaths } from "astro";


const {certificacion} = Astro.params

import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import Prueba from "../../../components/prueba.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';

const tema ='web'

const posts = (await getCollection(tema)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Prueba tema="web" foto="../../web.jpg" posts={posts} />
			<!-- <section class="w-5/6 m-auto grid gap-4 grid-cols-4">
				<img class="col-span-2 sticky top-[0px]" src="../../web.jpg" alt="">
				<ul class="col-span-2">
					{
						posts.map((post) => (
							<li class="leccion p-2 border-b-2 border-black">
								<a href={`/blog/web/${post.slug}/`}>
								<div class="flex gap-4">
									<h4 class="title">{post.data.title}</h4>
									<img class="w-[30px] object-cover" src="../../flecha-derecha.svg" alt=""/>
								</div>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque earum libero dolor eligendi aspernatur architecto, provident, distinctio exercitationem doloribus debitis unde ullam vitae non eaque voluptate. Minima repellat qui dicta!</p>
								</a>
							</li>
						))
					}
				</ul>
			</section> -->
		</main>
		<Footer />
	</body>
</html>
