---

import type { GetStaticPaths } from "astro";


const {certificacion} = Astro.params

import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';

const tema ='web'

const posts = (await getCollection(tema)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.leccion:nth-child(3n + 1):hover{
				background-color: rgb(233 213 255);
			}
			.leccion:nth-child(3n + 2):hover{
				background-color: rgb(254 240 138);
			}
			.leccion:nth-child(3n):hover{
				background-color: rgb(134 239 172);
			}

			li a h4{
				margin:0
			}
			
	
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="w-5/6 m-auto ">
				<ul class="grid grid-cols-4 gap-4">
					{
						posts.map((post) => (
							<li class="leccion p-2 border-b-2 border-black col-span-2">
								<a href={`/blog/web/${post.slug}/`}>
									<h4 class="title">{post.data.title}</h4>
									{/* <p>{post.data.description}</p> */}
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
